# Editor files.
.*.sw*
*~
/*.iml
/*.ipr
/*.iws
/.idea
.DS_Store

# Composer
/vendor/

# PHPUnit/Phing/dev
/.php_cs.cache
/.phpunit.result.cache
/phpunit.xml
/phpunit.*.xml
/reports/
/clover.xml
/coverage.xml

# Robo
/robo.yml

# neuralyzer
/neuralyzer*.yml
